<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>
                <spacer size="30"></spacer>
                <container>
                    <row>
                        <columns class="no_pd">
                            <p class="text-right tiny-text">Not rendering correctly? View this email as a web page <a
                                    href="#" class="basic-link tiny-text">here</a>.</p>
                        </columns>
                    </row>
                </container>
                <container class="border-around">
                    <row>
                        <columns class="no_pd">
                            <center>
                                <container class="wrap-in">
                                    <row>
                                        <columns class="no_pb">
                                            <spacer size="25"></spacer>
                                            <a href="#"><img src="http://layoutmain.esy.es/mail/img/logo-ucla.png"
                                                             alt="logo"></a>
                                            <spacer size="25"></spacer>
                                        </columns>
                                    </row>
                                </container>
                            </center>
                            <center>
                                <container>
                                    <a href="#" class="basic-link"><img src="http://layoutmain.esy.es/mail/img/img-uc-main.png" alt="uc"></a>
                                </container>
                            </center>
                            <center>
                                <container class="wrap-in">
                                    <row>
                                        <columns large="12" class="no_pb">
                                            <table>
                                                <tr>
                                                    <td style="height: 40px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h1 class="main-heading">
                                                            <table>
                                                                <tr>
                                                                    <td class="icon_person"><img
                                                                            src="http://layoutmain.esy.es/mail/img/icon_person.png"
                                                                            alt="icon"></td>
                                                                    <td>Your account has been approved</td>
                                                                </tr>
                                                            </table>
                                                        </h1>
                                                    <hr color="#E6E6E6">
                                                    </td>
                                                </tr>
                                                <tr >
                                                    <td><h2 class="head">Dear #Firstname#,</h2></td>
                                                </tr>
                                                <tr class="mob_">
                                                    <td style="height: 15px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><p>We are pleased to inform you that your account has been approved on <br>
                                                        #sitename#.</p></td>
                                                </tr>
                                                <tr class="mob_">
                                                    <td style="height: 15px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><h2 class="head">On #Sitename#, you can:</h2></td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 15px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="head">Connect</h2>
                                                        <p>find and reminisce with fellow graduates, see what they have <br> been up
                                                            to and stay in touch</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 15px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="head">Give Back</h2>
                                                        <p>Introduce, employ and offer to act as a mentor to our <br> graduating
                                                            students</p>
                                                    </td>
                                                </tr>
                                                <tr class="mob_">
                                                    <td style="height: 15px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="head">Expand</h2>
                                                        <p>Leverage your professional network to get introduced to <br> people you
                                                            should know</p>
                                                    </td>
                                                </tr>
                                                <tr class="mob_">
                                                    <td style="height: 15px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="head">Advance</h2>
                                                        <p>Advance your career through inside connections working in <br> top
                                                            companies</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 35px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><h2 class="head fw_norm">Kind Regards,</h2></td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 10px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><h2 class="head">The UCLA ONE team</h2></td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 35px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><button href="#">go to UCLA ONE</button></td>
                                                </tr>
                                                <tr class="mob_">
                                                    <td style="height: 30px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><hr color="#E6E6E6"></td>
                                                </tr>
                                                <tr  class="mob_">
                                                    <td style="height: 30px;"></td>
                                                </tr>
                                                <tr>
                                                    <td><h3 class="head_h3">Your Groups</h3></td>
                                                </tr>
                                            </table>
                                        </columns>
                                    </row>
                                </container>
                            </center>
                            <center>
                                <spacer size="20"></spacer>
                                <container class="wrap-in">
                                    <row>
                                        <columns large="4" class="item-pad">
                                            <container class="item-post">
                                                <img src="http://layoutmain.esy.es/mail/img/b1.png" alt="item">
                                                <table class="tab-desc">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h3 class="head_h3 norm small-text-center">Science and Tech</h3>
                                                                <spacer size="10" class="mob_"></spacer>
                                                                <p class="small-text-center"><a href="" class="link-main">VIEW GROUP</a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </container>
                                        </columns>
                                        <columns large="4" class="item-pad">
                                            <container class="item-post">
                                                <img src="http://layoutmain.esy.es/mail/img/b2.png" alt="item">
                                                <table class="tab-desc">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h3 class="head_h3 norm small-text-center">Science and Tech</h3>
                                                                <spacer size="10" class="mob_"></spacer>
                                                                <p class="small-text-center"><a href="" class="link-main">VIEW GROUP</a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </container>
                                        </columns>
                                        <columns large="4" class="item-pad">
                                            <container class="item-post">
                                                <img src="http://layoutmain.esy.es/mail/img/b3.png" alt="item">
                                                <table class="tab-desc">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h3 class="head_h3 norm small-text-center">Arts and Culture</h3>
                                                                <spacer size="10" class="mob_"></spacer>
                                                                <p class="small-text-center"><a href="" class="link-main">VIEW GROUP</a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </container>
                                        </columns>
                                    </row>
                                </container>
                                <spacer size="30"></spacer>
                                <container class="wrap-in">
                                    <row>
                                        <columns>
                                            <p class="small-text-center"><a href="#" class="link-main">FIND YOUR GROUPS</a></p>
                                        </columns>
                                    </row>
                                </container>
                                <hr color="#E6E6E6">
                            </center>
                            <spacer size="20" class="mob_"></spacer>
                            <center>
                                <container class="wrap-in">
                                    <row>
                                        <columns large="4" class="item-pad no_pb">
                                            <table class="info">
                                                <tr>
                                                    <td class="icon-second"><img src="http://layoutmain.esy.es/mail/img/icon_phone.png" alt="icon"></td>
                                                    <td>416 978 1226</td>
                                                </tr>
                                            </table>
                                        </columns>
                                        <columns  large="8" class="item-pad no_pb">
                                            <table class="info">
                                                <tr>
                                                    <td class="icon-second"><img src="http://layoutmain.esy.es/mail/img/icon_letter.png" alt="icon"></td>
                                                    <td>
                                                        <p>Alumni Department: <a href="#" class="link">CONNECT@ecf.utoronto.ca</a></p>
                                                        <spacer size="10" class="mob_"></spacer>
                                                        <p>Technical Support: <a href="#" class="link">SUPPORT@uoftengineeringconnect.ca</a></p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </columns>
                                    </row>
                                </container>
                            </center>
                            <spacer size="15"></spacer>
                        </columns>
                    </row>
                </container>
                <container>
                    <row>
                        <columns>
                            <spacer size="30"></spacer>
                            <p class="text-center tiny-text ln">If you no longer wish to receive the notifications, click here to  <a href="#" class="link tiny-text">unsubscribe</a>
                                <br>
                                Powered by Graduway  <a href="#" class="link tiny-text">graduway.com</a>
                            </p>
                        </columns>
                    </row>
                </container>
                <spacer size="30"></spacer>
            </center>
        </td>
    </tr>
</table>
</body>
</html>